/*
=============== 
Variables
===============
*/

:root {
  --section-rotate: 9vw;

  /* dark shades of primary color*/
  --clr-primary-1: hsl(22, 28%, 21%);
  --clr-primary-2: hsl(22, 28%, 29%);
  --clr-primary-3: hsl(22, 28%, 37%);
  --clr-primary-4: hsl(22, 28%, 45%);
  /* primary/main color */
  --clr-primary-5: hsl(22, 31%, 52%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(22, 31%, 60%);
  --clr-primary-7: hsl(22, 31%, 67%);
  --clr-primary-8: hsl(20, 31%, 74%);
  --clr-primary-9: hsl(22, 31%, 81%);
  --clr-primary-10: hsl(22, 31%, 88%);

  /* dark shades of green color*/
  --clr-green-1: #29603b;
  --clr-green-2: #2f6f44;
  --clr-green-3: #3d8f58;
  --clr-green-4: #48a868;
  /* green/main color */
  --clr-green-5: #5eba7d;
  /* lighter shades of green color */
  --clr-green-6: #82ca9a;
  --clr-green-7: #a6d9b7;
  --clr-green-8: #cae8d4;
  --clr-green-9: #dcf0e2;
  --clr-green-10: #eef8f1;

  /* dark shades of blue color*/
  --clr-blue-1: #004487;
  --clr-blue-2: #0054a3;
  --clr-blue-3: #0064bd;
  --clr-blue-4: #0077cc;
  /* blue/main color */
  --clr-blue-5: #0095ff;
  /* lighter shades of blue color */
  --clr-blue-6: #379fef;
  --clr-blue-7: #6cbbf7;
  --clr-blue-8: #addafc;
  --clr-blue-9: #cfeafe;
  --clr-blue-10: #f2f9ff;

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);

  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-white);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

/* section */
.section {
  padding: 2rem 0;
}
.section-center {
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 80vw;
  }
}
.text-center {
  text-align: center;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.btn--small {
  /* padding: 1.25rem 3rem !important; */
  font-size: 1.2rem !important;
}

.btn:hover {
  color: var(--clr-grey-1);
  background: var(--clr-grey-9);
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 45%);
}

.btn--blue {
  background-image: linear-gradient(
    to bottom right,
    var(--clr-grey-9),
    var(--clr-blue-7)
  );
  color: #fff;
  box-shadow: 0 3.5rem 4rem rgb(0 0 0 / 45%);
}

.nav__el,
.nav__el:link,
.nav__el:visited {
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.title {
  text-align: center;
  color: var(--clr-grey-3);
}
.title .underline {
  width: 6rem;
  height: 0.25rem;
  background: #49a6e9;
  background: var(--clr-grey-5);
  margin-left: auto;
  margin-right: auto;
}

.heading-tertirary {
  font-size: 2.5rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 80%;
  z-index: 10;
}

.description__text {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--clr-grey-3);
}

.heading-tertirary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.heading-tertirary span,
.heading-primary span {
  padding: 0.5rem 1.2rem;
  line-height: 1.25;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to bottom right,
    var(--clr-grey-10),
    var(--clr-blue-7)
  );
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 45%);
}

.heading-secondary {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background: -webkit-linear-gradient(var(--clr-blue-4), var(--clr-blue-8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.card__data {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.cd-span {
  color: var(--clr-grey-3);
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

.card__icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.7rem;
  fill: var(--clr-blue-4);
}
